-var list_item=[{text:"DANH MỤC SẢN PHẨM",icon:"fas fa-bars"},"Máy in phun khổ lớn","Máy quét Canon3D","Máy hàn điện Alunima","Máy khoan Decameta","Máy phay đa năng CNC","Máy mài, tiện DC 12V","Máy khoan, cắt CNC","Máy quay thông minh N3","Motor R34C đa dụng","Máy in laser màu 3D"]

-var list_blog_new=[{text:"DANH MỤC TIN TỨC",icon:"fa fa-th-large"},"Đời sống pháp luật (5)","Kinh tế trong nước (8)","Sức khỏe và gia đình (9)","Công nghệ thông tin (5)","Tin tức khác (12)"]

-var list_blog_img=[{text:"THƯ VIỆN HÌNH ẢNH",icon:"fa fa-th-large"},"list-blog1.jpg","list-blog2.jpg","list-blog3.jpg","list-blog4.jpg","list-blog5.jpg","list-blog6.jpg"]

-var list_blog_tag=[{text:"THẺ TAG",icon:"fa fa-th-large"},"thời trang","máy khoan","news","công nghiệp","xây dựng","phay","máy cắt","hóa chất"]

-var list_blog_item=["blog_main1.jpg","blog_main2.jpg","blog_main3.jpg","blog_main4.jpg"]

-var blog_detail_tag=["máy khoan,","máy cắt cnc,","máy in 3D,","công nghiệp,","hàn xi,","uốn thép..."]